@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
  --address-link-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --bg-filter-button: #f5f4fa;
  --icon-color: #afb1b8;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --card-item: 1;
  --card-colum: 1;
  --card-gap: 30px;
}

/* утилиты */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p,
ul,
button {
  padding: 0;
  margin: 0;
}

.form__checkbox, .features__title, .portfolio__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contact__icon, .features__wrapper, .clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.activity__title, .team__title, .clients__title {
  margin-bottom: 30px;
  font-size: calc(28px + 8 * ((100vw - 480px) / 720));
  line-height: 1.172;
  text-align: center;
  color: var(--title-text-color);
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: var(--card-gap);
  -webkit-column-gap: var(--card-gap);
          column-gap: var(--card-gap);
}

.card-item {
  row-gap: var(--card-gap);
  -webkit-column-gap: var(--card-gap);
          column-gap: var(--card-gap);
  -ms-flex-preferred-size: calc((100% - (var(--card-gap) * var(--card-colum))) / var(--card-item));
      flex-basis: calc((100% - (var(--card-gap) * var(--card-colum))) / var(--card-item));
}

body {
  background-color: var(--third-text-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 480px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  min-width: 450px;
  min-height: 609px;
  top: 50%;
  left: 50%;
  padding: 40px;
  color: var(--logo-color);
  background-color: var(--third-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  /* transform: scale(1); */
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background: var(--third-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50% 50%;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.modal__close:hover, .modal__close:focus {
  color: var(--accent-color);
}

.modal__icon {
  fill: currentColor;
}

.form {
  width: 100%;
  height: 100%;
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.172;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

@media (max-width: 1199.98px) {
  .form__title {
    line-height: 1.5;
  }
}

.form__wrapper {
  margin-bottom: -10px;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form__fild {
  position: relative;
  display: block;
  margin-top: 4px;
}

.form__input {
  display: block;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 0.14;
  letter-spacing: 0.01em;
  -webkit-transition: border-color var(--transition);
  transition: border-color var(--transition);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--title-text-color);
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__wrapper .form__input:hover,
.form__wrapper .form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form__coment {
  margin-bottom: 20px;
}

.form__textarea {
  width: 100%;
  resize: none;
  margin-top: 4px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  overflow: hidden;
  font-size: calc(14px + -2 * ((100vw - 480px) / 720));
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.form__checkbox:checked + .form__iconcast {
  background-color: var(--accent-color);
  border: none;
}

.form__label--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__iconcast {
  display: block;
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  background-color: transparent;
  fill: none;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}

.form__condition {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 2 * ((100vw - 480px) / 720));
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.form__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 2 * ((100vw - 480px) / 720));
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: underline;
}

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 56px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}

.form__button:hover {
  background-color: #188ce8;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  opacity: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current {
  color: var(--accent-color);
}

.nav__link--current::after {
  opacity: 1;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: calc(12px + 2 * ((100vw - 480px) / 720));
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: calc(24px + 2 * ((100vw - 480px) / 720));
  line-height: 1.2;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__title {
  color: var(--third-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.address__title:hover, .address__title:focus {
  color: var(--accent-color);
}

.address__link {
  display: block;
  color: var(--address-link-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.subscription__title {
  margin-bottom: 20px;
  text-align: center;
  color: var(--white-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.14;
  font-style: normal;
  text-transform: uppercase;
  color: var(--third-text-color);
}

@media (min-width: 1200px) {
  .subscription__title {
    text-align: start;
  }
}

.subscription__input {
  max-width: 450px;
  width: 100%;
  padding: 14px 16px;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: currentColor;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow 0px 4px 4px rgba(0, 0, 0, 0.15);
          filter: drop-shadow 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: border var(--transition);
  transition: border var(--transition);
}

.subscription__input:hover, .subscription__input:focus {
  border: 1px solid var(--accent-color);
}

.subscription__input::-webkit-input-placeholder {
  color: var(--address-link-color);
}

.subscription__input:-ms-input-placeholder {
  color: var(--address-link-color);
}

.subscription__input::-ms-input-placeholder {
  color: var(--address-link-color);
}

.subscription__input::placeholder {
  color: var(--address-link-color);
}

@media (max-width: 1199.98px) {
  .subscription__input {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .subscription__input {
    width: 358px;
  }
}

.subscription__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  cursor: pointer;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}

@media (min-width: 1200px) {
  .subscription__button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 12px;
  }
}

.subscription__button:hover, .subscription__button:focus {
  background-color: #188ce8;
}

.subscription__icon {
  fill: currentColor;
  margin-left: 10px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 8px;
          column-gap: 8px;
  row-gap: 15px;
}

@media (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1200px) {
  .filter {
    row-gap: 0;
  }
}

.filter__button {
  display: inline-block;
  padding: 9px 22px 9px 22px;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  background-color: var(--bg-filter-button);
  border: none;
  border-radius: 4px;
  -webkit-transition: color var(--transition), background-color var(--transition), -webkit-box-shadow var(--transition);
  transition: color var(--transition), background-color var(--transition), -webkit-box-shadow var(--transition);
  transition: color var(--transition), box-shadow var(--transition), background-color var(--transition);
  transition: color var(--transition), box-shadow var(--transition), background-color var(--transition), -webkit-box-shadow var(--transition);
}

.filter__button:hover, .filter__button:focus {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.mobile__icon {
  fill: #212121;
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.mobile__icon:hover, .mobile__icon:focus {
  fill: var(--accent-color);
}

.menu-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
}

.mobile {
  margin-bottom: auto;
}

.mobile__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.mobile__link:hover, .mobile__link:focus {
  color: var(--accent-color);
}

.mobile__link--current {
  color: var(--accent-color);
}

.tel__item {
  margin-bottom: 32px;
}

.mailcontact__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
}

.telcontact__link {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.177;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile__network__linenetwork {
  display: block;
  background-color: rgba(33, 33, 33, 0.2);
  width: 10px;
  height: 1px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mobnetwork__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobnetwork__link {
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile__contact {
  margin-bottom: 64px;
}

.header {
  height: 80px;
  border-bottom: 1px solid #ececec;
}

@media (max-width: 767.98px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  margin-left: 93px;
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__contact {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .header__contact {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .header__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 10px;
    margin-left: 84px;
  }
}

.heder__logo--blue {
  color: var(--accent-color);
}

.heder__logo--black {
  color: var(--logo-color);
}

.hero {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  /* max-width: 1600px; */
  min-height: 400px;
  background: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mob-bghero1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mob-bghero1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mob-bghero2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mob-bghero2x.jpg);
  }
}

@media (min-width: 480px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/tab-bghero1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tab-bghero1x.jpg);
  }
}

@media (min-width: 480px) and (min-device-pixel-ratio: 2), (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 480px) and (min-resolution: 192dpi), (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/tab-bghero2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tab-bghero2x.jpg);
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/desk-bghero1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desk-bghero1x.jpg);
  }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/desk-bghero2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desk-bghero2x.jpg);
  }
}

@media (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    min-height: 600px;
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: calc(26px + 18 * ((100vw - 480px) / 720));
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

@media (min-width: 768px) {
  .hero__title {
    width: 360;
  }
}

@media (min-width: 1200px) {
  .hero__title {
    width: 696px;
  }
}

.hero .hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 15px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}

.hero .hero__button:hover, .hero .hero__button:focus {
  background-color: #188ce8;
}

.features__list {
  display: block;
}

@media (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    --card-item: 2;
    --card-colum: 1;
  }
}

@media (min-width: 1200px) {
  .features__list {
    --card-item: 4;
    --card-colum: 3;
  }
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .features__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.features__wrapper {
  width: 100%;
  height: 120px;
  background-color: var(--bg-filter-button);
  margin-bottom: 30px;
}

.features__name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 768px) {
  .features__name {
    text-align: start;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
}

.activity {
  display: none;
}

@media (min-width: 1200px) {
  .activity {
    display: block;
    padding-top: 0px;
  }
}

.activity__list {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  --card-item: 3;
  --card-colum: 2;
}

.activity__item {
  position: relative;
}

.activity__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--third-text-color);
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
}

@media (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

.team__list {
  display: block;
}

@media (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    --card-item: 2;
    --card-colum: 1;
  }
}

@media (min-width: 1200px) {
  .team__list {
    --card-item: 4;
    --card-colum: 3;
  }
}

.team__card:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .team__card:not(:last-child) {
    margin-bottom: 0;
  }
}

.team__card {
  background-color: var(--third-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__img {
  width: 450px;
  height: auto;
}

@media (min-width: 768px) {
  .team__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 354px;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .team__img {
    width: 270px;
    height: auto;
  }
}

.team__wrapper {
  padding: 10px 0px 10px 0px;
}

@media (min-width: 480px) {
  .team__wrapper {
    padding: 30px 0 24px 0;
  }
}

@media (min-width: 768px) {
  .team__wrapper {
    padding: 30px 0 24px 0;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .team__wrapper {
    padding: 30 0 32px 0;
  }
}

.team__name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team .network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.team .network__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  color: var(--icon-color);
  background-color: var(--third-text-color);
  -webkit-transition: color var(--transition), background-color var(--transition);
  transition: color var(--transition), background-color var(--transition);
}

.team .network__link:hover, .team .network__link:focus {
  color: var(--third-text-color);
  background-color: var(--accent-color);
}

.team .network__icon {
  fill: currentColor;
}

@media (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients__list {
  display: block;
}

@media (min-width: 480px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    --card-item: 2;
    --card-colum: 1;
  }
}

@media (min-width: 768px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    --card-item: 4;
    --card-colum: 3;
  }
}

@media (min-width: 1200px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    --card-item: 6;
    --card-colum: 5;
  }
}

.clients__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__logo:not(:last-child) {
  margin-bottom: 20px;
}

.clients__link {
  width: 210px;
  height: 92px;
  border-radius: 4px;
  color: var(--icon-color);
  border: 1px solid currentColor;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

@media (min-width: 768px) {
  .clients__link {
    width: 226px;
    height: 92px;
  }
}

@media (min-width: 1200px) {
  .clients__link {
    width: 170px;
    height: 92px;
  }
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1200px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 768px) {
  .footer__deskwrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__deskwrap {
    margin-bottom: 60px;
  }
}

.footer__wrapaddress {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .footer__wrapaddress {
    margin-bottom: 0;
  }
}

.footer__logo--blue {
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .footer__logo--blue {
    text-align: start;
  }
}

.footer__logo--white {
  color: var(--third-text-color);
}

.footer__wrapnetwork {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .footer__wrapnetwork {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .footer__wrapnetwork {
    margin-left: 70px;
  }
}

.footer__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

@media (min-width: 1200px) {
  .footer__network {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}

.footer__subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .footer__subscription {
    display: block;
    margin-left: auto;
  }
}

.address__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .address__list {
    display: block;
  }
}

.network__title {
  margin-bottom: 20px;
  text-align: center;
  color: var(--third-text-color);
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .network__title {
    text-align: start;
  }
}

.network__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  color: var(--third-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}

.network__link:hover, .network__link:focus {
  background-color: var(--accent-color);
}

.network__icon {
  fill: currentColor;
}

.portfolio__filter {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .portfolio__filter {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .portfolio__filter {
    margin-bottom: 50px;
  }
}

.portfolio__presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .portfolio__presentation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 30px;
  }
}

.presentation__card {
  display: block;
}

@media (min-width: 768px) {
  .presentation__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    --card-item: 2;
    --card-colum: 1;
  }
}

@media (min-width: 1200px) {
  .presentation__card {
    --card-item: 3;
    --card-colum: 2;
  }
}

.presentation__link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--transition);
  transition: -webkit-box-shadow var(--transition);
  transition: box-shadow var(--transition);
  transition: box-shadow var(--transition), -webkit-box-shadow var(--transition);
}

@media (min-width: 768px) {
  .presentation__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.presentation__link:hover, .presentation__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.presentation__link:hover .presentation__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.presentation__thumb {
  position: relative;
  overflow: hidden;
}

.presentation__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
}

.presentation__text {
  display: block;
  color: var(--third-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
}

.presentation__border {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

@media (min-width: 768px) {
  .presentation__border {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.presentation__title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.presentation__par {
  margin-top: 4px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
/*# sourceMappingURL=main.css.map */