:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --third-text-color: #ffffff;

  --accent-color: #2196f3;

  --address-link-color: rgba(255, 255, 255, 0.6);

  --logo-color: #000000;

  --bg-filter-button: #f5f4fa;
  --icon-color: #AFB1B8;
}
/* утилиты */

.list {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.cursor {
  cursor: pointer;
}
h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--third-text-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* heder */
header {
  border-bottom: 1px solid #ececec;
}

.logo {
  display: block;

  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logoblack {
  color: var(--logo-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

/* navigation */
.container.nav {
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
/* contact */
.contact {
  display: flex;
  margin-left: auto;
}

.contact .item:not(:last-child) {
  margin-right: 50px;
} 
.contact .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
  
}
.mail-icon,.smartphone-icon {
  margin-right: 10px;
  fill: currentColor;
  
}


/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;

  background: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/bghero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.hero-title {  
  margin-bottom: 30px;
  color: var(--third-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--third-text-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
  
}
/* features */
.visually-hedden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
}
.features-list .item {
  width: calc((100%-90px) / 4);
}
.features-list .item:not(:last-child) {
  margin-right: 30px;
}
.background-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 120px;
  background-color: var(--bg-filter-button);
  margin-bottom: 30px; 
  
  
}

.features-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
}

/* activity and team and clients */
.activity-title,
.team-title,
.clients-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* activity */
.activity.section {
  padding-top: 0px;
}
.activity-list {
  display: flex;
  justify-content: space-around;
}
.activity-list .activity-item:not(:last-child) {
  margin-right: 30px;
  width: calc((100%-60px) / 3);
}
.activity-item {
  position: relative;
}
.activity-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  display: block;
  padding-top: 27px;
  padding-bottom: 27px;

  color: var(--third-text-color);
  background: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* team */
.team.section {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  justify-content: space-around;
}
.team-card {
  width: calc((100%-90px) / 4);
  background-color: var(--third-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-name {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
/*team-social-icon */
.social-links {
  display: flex;
  justify-content: space-between; 
  
  
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  color: var(--icon-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.icon-link:hover,
.icon-link:focus {
  color: var(--third-text-color);
  background-color: var(--accent-color);
}
.icon-link .icon {
  fill:currentColor;
    
}
/* regular clients */
.clients-list {
  display: flex;
  justify-content: space-between;

}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  

  
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--icon-color);
  border: 1px solid currentColor;

 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       
}
.clients-link:hover,
.clients-link:focus {
    color: var(--accent-color);
}
.clients-link .icon {
  fill: currentColor;
}


/* portfolio */
/* filter portfolio */
.portfolio-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-button .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio .filter {
  display: inline-block;
  padding: 9px 22px 9px 22px;                  

  color: var(--title-text-color);
  background-color: var(--bg-filter-button);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio .filter:hover,
.portfolio .filter:focus {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* project examplesт */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-card {
  width: calc ((100%-60px) / 3);
  
}
.portfolio-card:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-border {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;

}
.portfolio-link {
  display: block;
  
}
.card-thumb {
  position: relative;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--accent-color);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;

  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-link:hover .portfolio-overlay {
  opacity: 1;
}
.overley_text {
  display: block;

  
  color: var(--third-text-color);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  
  

}
.portfolio-title {
 
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-par {
  margin-top: 4px;
  
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}
.logo-white {
  color: var(--third-text-color);
}
.container.box {
display: flex;

}
.address {
  margin-top: 20px;
}
.address-title {
  
  color: var(--third-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-title:hover,
.address-title:focus {
  color: var(--accent-color);
}
.mail-list {
  margin-top: 9px;
  margin-bottom: 9px;
}

.address .link {
  display: inline-block;
  
  color: var(--address-link-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}
/* join links */
.join {
  margin-bottom: 20px;

  color: var(--third-text-color);
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.join-box {
  margin-left: 70px;
  padding-top: 12px;
  padding-bottom: 40px;
}
.join-icon {
  display: flex;
  justify-content: space-between;
}
.join-list:not(:last-child) {
  margin-right: 10px;
}
.join-link {
  display: flex;
  align-items: center;
  justify-content: center;
   width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  color: var(--third-text-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}

.join-link .icon {
  fill: currentColor;

}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);;
  
  
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  min-height: 581px;
  min-width: 528px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  color: var(--logo-color);
  background-color: var(--third-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}



.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  background: var(--third-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50% 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-close:hover,
.modal-close:focus {
  color: var(--accent-color);

}



.modal-close .icon {
  fill: currentColor;

}