:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --third-text-color: #ffffff;

  --accent-color: #2196f3;

  --address-link-color: rgba(255, 255, 255, 0.6);

  --logo-color: #000000;

  --bg-filter-button: #f5f4fa;
  --bg-card: #eeeeee;
}

body {
  background-color: var(--third-text-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
  outline: 2px solid tomato;
}
.list {
  padding: 0;
  margin: 0;

  list-style: none;
}
a {
  text-decoration: none;
}
.cursor {
  cursor: pointer;
}

/* heder */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logoblack {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

/* navigation */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link:active {
  color: #170463;
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* contact */
.contact .link {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background: #2f303a;
  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 40px;

  color: var(--third-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  padding: 10px 32px;
  /* width: 200px;
  height: 50px; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--third-text-color);
  background: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--accent-color);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--third-text-color);
}
/* features */
.features-title {
  color: var(--title-text-color);
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
}

/* activity and team */
.activity-title,
.team-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* team */
.team {
  background: #f5f4fa;
}
.team-card {
  background-color: var(--third-text-color);
}
.team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* portfolio */
/* filter portfolio */

.portfolio .filter {
  color: var(--title-text-color);
  background: var(--bg-filter-button);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.portfolio .filter:hover,
.portfolio .filter:focus {
  color: var(--third-text-color);
  background: var(--accent-color);
}

/* project examplesт */
.bgr_card {
  background-color: var(--bg-card);
}
.portfolio-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-par {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
/* footer */
.logo-white {
  color: var(--third-text-color);
}
.footer {
  background: #2f303a;
}
.address-title {
  color: var(--third-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.address-title:hover,
.address-title:focus {
  color: var(--accent-color);
}
.address .link {
  color: var(--address-link-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}
