:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --address-link-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: #ffffff;
  color: #757575;
}
.list {
  list-style: none;
}
a {
  text-decoration: none;
}
.cursor {
  cursor: pointer;
}
/* основной текс  */
/* втоичный цвет текста  */
/* цвет лого и акцент #2196F3 #000000 */
/* цвет почти и теефона футора   */

/* шапка */
.logoblue {
  color: #2196f3;
}
.logoblack {
  color: #000000;
}

/* навигация */
.site-nav .link {
  color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
/* контакты */
.contact .link {
  color: #757575;
}
.contact .link:hover,
.contact .link:focus {
  color: #2196f3;
}

/* герой */
.hero {
  background: #2f303a;
}
.hero-title {
  color: #ffffff;
}
.hero-button {
  color: #ffffff;
}

/* секции */
.section-title {
  color: #212121;
}

/* подвал */
.footer {
  background: #2f303a;
}
.address-title {
  color: #ffffff;
}
.address .link {
  color: rgba(255, 255, 255, 0.6);
}
.address .link:hover,
.address .link:focus {
  color: #2196f3;
}
/* портфоли */

.filter {
  color: #212121;
}
.section-par {
  color: #757575;
}
