:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --third-text-color: #ffffff;

  --accent-color: #2196f3;

  --address-link-color: rgba(255, 255, 255, 0.6);

  --logo-color: #000000;

  --bg-filter-button: #f5f4fa;
  --icon-color: #afb1b8;
}
/* утилиты */

.list {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.cursor {
  cursor: pointer;
}
h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--third-text-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.visually-hedden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* heder */
header {
  border-bottom: 1px solid #ececec;
}

.logo {
  display: block;

  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logoblack {
  color: var(--logo-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

/* navigation */
.container.nav {
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link.current::after {
  opacity: 1;
}

.site-nav .link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;

  opacity: 0;

  border-radius: 2px;
  background-color: var(--accent-color);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* contact */
.contact {
  display: flex;
  margin-left: auto;
}

.contact .item:not(:last-child) {
  margin-right: 50px;
}
.contact .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}
.mail-icon,
.smartphone-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;

  background: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/bghero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;
  color: var(--third-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--third-text-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}
/* features */

.features-list {
  display: flex;
  margin-right: -30px;
}
.features-list .item {
  width: calc((100%-120px) / 4);
  margin-right: 30px;
}
/* .features-list .item:not(:last-child) {
  margin-right: 30px;
} */
.background-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 120px;
  background-color: var(--bg-filter-button);
  margin-bottom: 30px;
}

.features-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
}

/* activity and team and clients */
.activity-title,
.team-title,
.clients-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* activity */
.activity.section {
  padding-top: 0px;
}
.activity-list {
  display: flex;
  justify-content: space-around;
  margin-right: -30px;
}
/* .activity-list .activity-item:not(:last-child) {
  margin-right: 30px;
  
} */
.activity-item {
  position: relative;
  width: calc((100%-90px) / 3);
  margin-right: 30px;
}
.activity-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  display: block;
  padding-top: 27px;
  padding-bottom: 27px;

  color: var(--third-text-color);
  background: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* team */
.team.section {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  justify-content: space-around;
  margin-right: -30px;
}
.team-card {
  width: calc((100%-120px) / 4);
  margin-right: 30px;
  background-color: var(--third-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* .team-card:not(:last-child) {
  margin-right: 30px;
} */
.team-item {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-name {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
/*team-social-icon */
.social-links {
  display: flex;
  justify-content: space-between;
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  color: var(--icon-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover,
.icon-link:focus {
  color: var(--third-text-color);
  background-color: var(--accent-color);
}
.icon-link .icon {
  fill: currentColor;
}
/* regular clients */
.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;

  box-sizing: border-box;
  border-radius: 4px;
  color: var(--icon-color);
  border: 1px solid currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
}
.clients-link .icon {
  fill: currentColor;
}

/* portfolio */
/* filter portfolio */
.portfolio-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-button .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio .filter {
  display: inline-block;
  padding: 9px 22px 9px 22px;

  color: var(--title-text-color);
  background-color: var(--bg-filter-button);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio .filter:hover,
.portfolio .filter:focus {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* project examplesт */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}
.portfolio-card {
  width: calc((100% - 90px) / 3);
  margin-bottom: 30px;
  margin-right: 30px;

  flex-basis: calc((100% - 3 * 30px) / 3);
}
/* flex-basis: calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке) */
/* .portfolio-card:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
 */
.portfolio-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-border {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.portfolio-link {
  display: block;
}
.card-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .portfolio-overlay {
  transform: translateY(0);
}
.overley-text {
  display: block;

  color: var(--third-text-color);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
}
.portfolio-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-par {
  margin-top: 4px;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}
.logo-white {
  color: var(--third-text-color);
}
.container.box {
  display: flex;
  align-items: baseline;
}
.address {
  margin-top: 20px;
}
.address-title {
  color: var(--third-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-title:hover,
.address-title:focus {
  color: var(--accent-color);
}
.mail-list {
  margin-top: 9px;
  margin-bottom: 9px;
}

.address .link {
  display: inline-block;

  color: var(--address-link-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}
/* join links */
.join {
  margin-bottom: 20px;

  color: var(--third-text-color);
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.join-box {
  margin-left: 70px;
}
.join-icon {
  display: flex;
  justify-content: space-between;
}
.join-list:not(:last-child) {
  margin-right: 10px;
}
.join-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  color: var(--third-text-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}

.join-link .icon {
  fill: currentColor;
}
/* subscribe  */
.email-form {
  margin-left: auto;
  color: var(--white-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.14;
  font-style: normal;
  text-transform: uppercase;
  color: var(--third-text-color);
}
.email-form p {
  margin-bottom: 20px;
}

.email-input {
  outline: none;
  color: currentColor;
  background-color: transparent;

  padding: 14px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email-input:hover,
.email-input:focus {
  border: 1px solid var(--accent-color);
}

.email-input::placeholder {
  color: var(--address-link-color);
}

.email-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;
  margin-left: 12px;
  font-weight: 700;
  color: currentColor;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email-button:hover,
.email-button:focus {
  background-color: #188ce8;
}

.email-icon {
  fill: currentColor;
  margin-left: 10px;
}

/* modal */

.backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);

  /* display: flex;
    align-items: center;
    justify-content: center; */
}

.modal {
  /* /* position: relative;  for flex:  */
  position: absolute;
  min-height: 581px;
  min-width: 528px;
  top: 50%;
  left: 50%;
  padding: 40px;

  color: var(--logo-color);
  background-color: var(--third-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  /* transform: scale(1); */
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  background: var(--third-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50% 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
  color: var(--accent-color);
}

.modal-close .icon {
  fill: currentColor;
}
/* Form */
.call-back-form {
  width: 100%;
  height: 100%;
}
.form-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--title-text-color);
}
.form-wrapper {
  margin-bottom: -10px;
}

.form-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.label-form {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.form-fild {
  position: relative;
  margin-top: 4px;
}
.input {
  display: block;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 42px;
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 14px;
  line-height: 0.14;
  letter-spacing: 0.01em;
}
.form-wrapper .input:hover,
.form-wrapper .input:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.form-list .icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: var(--title-text-color);
}

.textarea {
  display: block;
  width: 100%;
  resize: none;
  margin-top: 4px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.checkbox-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.form-link {
  color: var(--accent-color);
  text-decoration: underline;
}
.form-list.coment {
  margin-bottom: 20px;
}
.form-button {
  display: block;
  padding-top: 10px;
  padding-left: 56px;
  padding-bottom: 10px;
  padding-right: 56px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--third-text-color);
  background-color: var(--accent-color);

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
