.activity {
  padding-top: 0px;
  &__title {
    @extend %section-headings;
  }

  &__list {
    justify-content: space-around;
  }

  &__item {
    position: relative;

    --card-item: 3;
    --card-colum: 2;
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    display: block;
    padding-top: 27px;
    padding-bottom: 27px;

    color: var(--third-text-color);
    background: rgba(47, 48, 58, 0.8);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
