.address {
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__title {
    color: var(--third-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    transition: color var(--transition);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__link {
    display: block;

    color: var(--address-link-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    transition: color var(--transition);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
