.contact {
  display: flex;
  align-items: center;
  column-gap: 50px;

  &__link {
    display: flex;
    align-items: center;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);

    transition: color var(--transition);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__icon {
    @extend %icon;
    margin-right: 10px;
    fill: currentColor;
  }
}
