.form {
  max-width: 100%;
  max-height: 100%;
  &__title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.172;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
    @include mq(no-desk) {
      line-height: 1.5;
    }
  }

  &__wrapper {
    margin-bottom: -10px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  &__label {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;

    color: var(--primary-text-color);
  }

  &__fild {
    position: relative;
    display: block;
    margin-top: 4px;
  }

  &__input {
    display: block;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 42px;
    width: 100%;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    font-size: 14px;
    line-height: 0.14;
    letter-spacing: 0.01em;

    transition: border-color var(--transition);
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    fill: var(--title-text-color);
    transition: fill var(--transition);
  }

  &__input:hover + &__icon,
  &__input:focus + &__icon {
    fill: var(--accent-color);
  }
  &__wrapper &__input:hover,
  &__wrapper &__input:focus {
    border-color: var(--accent-color);
    outline: none;
  }

  &__coment {
    margin-bottom: 20px;
  }

  &__textarea {
    width: 100%;
    resize: none;
    margin-top: 4px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    overflow: hidden;

    @include adaptiv-font(12, 14);
    line-height: 1.14;
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
    }
  }

  &__check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  &__checkbox {
    @extend %visually-hedden;
    &:checked + .form__iconcast {
      background-color: var(--accent-color);
      border: none;
    }
  }
  &__label--flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__iconcast {
    display: block;
    margin-right: 8px;

    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    background-color: transparent;
    fill: none;
    text-align: center;
    cursor: pointer;

    transition: background-color var(--transition);
  }

  &__condition {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
    @include mq(desk) {
      font-size: 14px;
      line-height: 1.71;
    }
  }

  &__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: underline;

    @include mq(desk) {
      font-size: 14px;
      line-height: 1.71;
    }
  }

  &__button {
    @include button(10px 56px);
    display: block;
    margin-left: auto;
    margin-right: auto;

    transition: background-color var(--transition);

    &:hover {
      background-color: #188ce8;
    }
  }
}
