.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.mobile__icon {
  fill: #212121;

  transition: fill var(--transition);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
}

.mobile {
  margin-bottom: auto;
  &__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.75;

    letter-spacing: 0.02em;

    color: #212121;

    transition: color var(--transition);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &--current {
      color: var(--accent-color);
    }
  }
}
.tel {
  &__item {
    margin-bottom: 32px;
  }
}
.mailcontact {
  &__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.02em;

    color: #757575;
  }
}

.telcontact {
  &__link {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.177;

    letter-spacing: 0.02em;

    color: #2196f3;
  }
}

.mobile {
  &__network {
    display: flex;

    &__linenetwork {
      display: block;

      background-color: rgba(33, 33, 33, 0.2);
      width: 10px;
      height: 1px;
      transform: rotate(90deg);
    }
  }
}
.mobnetwork {
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;

    letter-spacing: 0.02em;

    color: #2196f3;
  }
}
.mobile__contact {
  margin-bottom: 64px;
}
