.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--card-gap);
  column-gap: var(--card-gap);
}

.card-item {
  row-gap: var(--card-gap);
  column-gap: var(--card-gap);
  flex-basis: calc((100% - (var(--card-gap) * var(--card-colum))) / var(--card-item));
}
