@mixin button($padding) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  padding: $padding;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  cursor: pointer;
}

@mixin social-link($color, $bgcolor) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  color: $color;
  background-color: $bgcolor;
}

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 480;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 480px) / #{$maxWidth}));
}

@mixin mq($range) {
  $mobile: 480px;
  $tablet: 768px;
  $decktop: 1200px;
  @if $range == mob {
    @media (min-width: $mobile) {
      @content;
    }
  } @else if $range == mob-only {
    @media (max-width: #{$tablet - 0.02}) {
      @content;
    }
  } @else if $range == tab {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $range == tab-only {
    @media (min-width: $tablet) and (max-width: #{$decktop - 0.02}) {
      @content;
    }
  } @else if $range == desk {
    @media (min-width: $decktop) {
      @content;
    }
  } @else if $range == no-desk {
    @media (max-width: #{$decktop - 0.02}) {
      @content;
    }
  } @else if $range == retina {
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-moz-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      @content;
    }
  }
}
