%visually-hedden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

%icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

%section-headings {
  margin-bottom: 30px;
  @include mq(mob) {
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
  }
  @include mq(desk) {
    font-size: 36px;
    line-height: 1.172;

    color: var(--title-text-color);
  }
}
